.index {
    background: #208050;
}

.photoprofile {
    width: 275px;
    height: 275px;
}

#main {
    padding: 0;
    gap: 12px;
    display: flex;
    width: 100%;
}

#main .sidebar {
    background: #a5b5f5;
    width: 25%;
    padding: 12px;
    margin: 12px;
    display: flex;
    flex-direction: column;
}

#main .mainContent {
    width: 75%;
    padding: 12px;
    margin: 12px;
}

#main table * {
    padding: 3px;
}

.productContainer {
    width: 90%;
    height: 90vh;
    background: #f04040;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

.list {
    display: flex;
    justify-content: center;
    flex-wrap:  wrap;
    gap: 15px;
    overflow: scroll;
    padding: 25px 0;
}

.list::-webkit-scrollbar {
    display: none;
}

#product .item-container {
    width: 45%;
    flex: 0 0 calc(45% - 15px);
    height: auto;
    display: flex;
    flex-direction: column;
}

#product .item-container img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

#product .item-container p {
    text-align: justify;
    text-indent: 25px;
    font-size: 10pt;
    margin: 12px 0;
}

#product .item-container a {
    width: 100%;
    text-align: center;
    padding: 6px 0;
}

footer {
    padding: 12px;
    background: #2040d0;
    color: #ffffff;
    text-align: center;
    font-size: 14pt;
    border-top: solid 1px #adadff;
}