<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Portofolio</title>
</head>
<body>
    <header>
        <h2>Your Name</h2>
        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique soluta quasi sed molestiae!</span>
    </header>
    <section class="full cover">
        <img src="assets/bocchi.jpeg" class="circle" width="350px" height="350px" style="margin: 12px 0;">
        <h1 class="title">Your Name</h1>
        <span class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur magni magnam praesentium obcaecati.</span>
    </section>
    <section class="full description-container center-container" id="profile">
        <div class="card profile-box">
            <h1 class="heading">My Profile</h1>
            <table>
                <tr>
                    <td><h3>Name</h3></td>
                    <td><h3>:Your Name</h3></td>
                </tr>
                <tr>
                    <td><h3>Adress</h3></td>
                    <td><h3>:Your Address</h3></td>
                </tr>
                <tr>
                    <td><h3>Email</h3></td>
                    <td><h3>:youremail@gmail.com</h3></td>
                </tr>
                <tr>
                    <td><h3>Phone Number</h3></td>
                    <td><h3>:+1 123-4567-8900</h3></td>
                </tr>
                <tr>
                    <td><h3>Github</h3></td>
                    <td><h3>:<a href="https://www.github.org/your-github">https://www.github.org/your-github</a></h3></td>
                </tr>
            </table>
            <nav class="navbarMenu">
                <a href="#" class="linkButton hover-spin-x">Home</a>
                <a href="#profile" class="linkButton hover-spin-x">Profile</a>
                <a href="#product" class="linkButton hover-spin-x">Product</a>
                <a href="#footer" class="linkButton hover-spin-x">Footer</a>
            </nav>
        </div>
    </section>
    <section id="product" class="full">
        <h1 class="title">Product</h1>
        <div class="list">

            <div class="card item-container">
                <img src="assets/bocchi.jpeg">
                <h3 class="heading">Your Product</h3>
                <h5 class="heading">$ 100.00</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus voluptates dolore praesentium, voluptas ut cupiditate culpa suscipit eius aliquam sunt, quisquam reiciendis eaque dolorum quo! Eaque necessitatibus quod quo odit amet nulla corporis sunt animi eligendi enim rem iste soluta cum nam, quas voluptas odio debitis voluptates, accusantium libero ab.</p>
                <button class="linkButton hover-spin-x">Show Product</button>
            </div>
            
            <div class="card item-container">
                <img src="assets/bocchi.jpeg">
                <h3 class="heading">Your Product</h3>
                <h5 class="heading">$ 100.00</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus voluptates dolore praesentium, voluptas ut cupiditate culpa suscipit eius aliquam sunt, quisquam reiciendis eaque dolorum quo! Eaque necessitatibus quod quo odit amet nulla corporis sunt animi eligendi enim rem iste soluta cum nam, quas voluptas odio debitis voluptates, accusantium libero ab.</p>
                <button class="linkButton hover-spin-x">Show Product</button>
            </div>
            
            <div class="card item-container">
                <img src="assets/bocchi.jpeg">
                <h3 class="heading">Your Product</h3>
                <h5 class="heading">$ 100.00</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus voluptates dolore praesentium, voluptas ut cupiditate culpa suscipit eius aliquam sunt, quisquam reiciendis eaque dolorum quo! Eaque necessitatibus quod quo odit amet nulla corporis sunt animi eligendi enim rem iste soluta cum nam, quas voluptas odio debitis voluptates, accusantium libero ab.</p>
                <button class="linkButton hover-spin-x">Show Product</button>
            </div>
            
            <div class="card item-container">
                <img src="assets/bocchi.jpeg">
                <h3 class="heading">Your Product</h3>
                <h5 class="heading">$ 100.00</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus voluptates dolore praesentium, voluptas ut cupiditate culpa suscipit eius aliquam sunt, quisquam reiciendis eaque dolorum quo! Eaque necessitatibus quod quo odit amet nulla corporis sunt animi eligendi enim rem iste soluta cum nam, quas voluptas odio debitis voluptates, accusantium libero ab.</p>
                <button class="linkButton hover-spin-x">Show Product</button>
            </div>
            
            <div class="card item-container">
                <img src="assets/bocchi.jpeg">
                <h3 class="heading">Your Product</h3>
                <h5 class="heading">$ 100.00</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus voluptates dolore praesentium, voluptas ut cupiditate culpa suscipit eius aliquam sunt, quisquam reiciendis eaque dolorum quo! Eaque necessitatibus quod quo odit amet nulla corporis sunt animi eligendi enim rem iste soluta cum nam, quas voluptas odio debitis voluptates, accusantium libero ab.</p>
                <button class="linkButton hover-spin-x">Show Product</button>
            </div>
            
            <div class="card item-container">
                <img src="assets/bocchi.jpeg">
                <h3 class="heading">Your Product</h3>
                <h5 class="heading">$ 100.00</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus voluptates dolore praesentium, voluptas ut cupiditate culpa suscipit eius aliquam sunt, quisquam reiciendis eaque dolorum quo! Eaque necessitatibus quod quo odit amet nulla corporis sunt animi eligendi enim rem iste soluta cum nam, quas voluptas odio debitis voluptates, accusantium libero ab.</p>
                <button class="linkButton hover-spin-x">Show Product</button>
            </div>
            
            <div class="card item-container">
                <img src="assets/bocchi.jpeg">
                <h3 class="heading">Your Product</h3>
                <h5 class="heading">$ 100.00</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus voluptates dolore praesentium, voluptas ut cupiditate culpa suscipit eius aliquam sunt, quisquam reiciendis eaque dolorum quo! Eaque necessitatibus quod quo odit amet nulla corporis sunt animi eligendi enim rem iste soluta cum nam, quas voluptas odio debitis voluptates, accusantium libero ab.</p>
                <button class="linkButton hover-spin-x">Show Product</button>
            </div>
            
            <div class="card item-container">
                <img src="assets/bocchi.jpeg">
                <h3 class="heading">Your Product</h3>
                <h5 class="heading">$ 100.00</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus voluptates dolore praesentium, voluptas ut cupiditate culpa suscipit eius aliquam sunt, quisquam reiciendis eaque dolorum quo! Eaque necessitatibus quod quo odit amet nulla corporis sunt animi eligendi enim rem iste soluta cum nam, quas voluptas odio debitis voluptates, accusantium libero ab.</p>
                <button class="linkButton hover-spin-x">Show Product</button>
            </div>
            
            <div class="card item-container">
                <img src="assets/bocchi.jpeg">
                <h3 class="heading">Your Product</h3>
                <h5 class="heading">$ 100.00</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus voluptates dolore praesentium, voluptas ut cupiditate culpa suscipit eius aliquam sunt, quisquam reiciendis eaque dolorum quo! Eaque necessitatibus quod quo odit amet nulla corporis sunt animi eligendi enim rem iste soluta cum nam, quas voluptas odio debitis voluptates, accusantium libero ab.</p>
                <button class="linkButton hover-spin-x">Show Product</button>
            </div>

        </div>
    </section>

    <footer id="footer">
        &copy; 2025 || Your Company || Your Address
    </footer>
</body>
</html>