<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Name</title>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="fixed-top">
        <header>
            <img src="assets/avatar.png" class="circle">
            <div class="headerTitle">
                <h1>Your Name</h1>
                <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam nemo corrupti doloribus suscipit!</span>
            </div>
            <div class="void"></div>
        </header>
        <nav>
            <a href="#">Home</a>
            <a href="#about">About Me</a>
            <a href="#product">Product</a>
        </nav>
    </div>
    <section class="full cover">
        <div class="card idCard">
            <img src="assets/avatar.png">
            <div class="idContainer">
                <h1 class="heading">Home</h1>
                <table>
                    <tr>
                        <td><h3>Name</h3></td>
                        <td><h3>:Your Name</h3></td>
                    </tr>
                    <tr>
                        <td><h3>Adress</h3></td>
                        <td><h3>:Your Address</h3></td>
                    </tr>
                    <tr>
                        <td><h3>Email</h3></td>
                        <td><h3>:youremail@gmail.com</h3></td>
                    </tr>
                    <tr>
                        <td><h3>Phone Number</h3></td>
                        <td><h3>:+1 123-4567-8900</h3></td>
                    </tr>
                    <tr>
                        <td><h3>Github</h3></td>
                        <td><h3>:<a href="https://www.github.org/your-github">https://www.github.org/your-github</a></h3></td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
    <section class="full center-container" id="about">
        <div class="card descriptionCard">
            <h1 class="heading">About Me</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam saepe consectetur consequatur mollitia fugiat at optio iure possimus libero. Dolores animi, labore natus, porro magni sed repudiandae rerum excepturi praesentium numquam laborum ipsam? Nihil et numquam rem. Architecto eaque placeat voluptatum nisi sit, praesentium, ipsam sunt a saepe necessitatibus hic.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam saepe consectetur consequatur mollitia fugiat at optio iure possimus libero. Dolores animi, labore natus, porro magni sed repudiandae rerum excepturi praesentium numquam laborum ipsam? Nihil et numquam rem. Architecto eaque placeat voluptatum nisi sit, praesentium, ipsam sunt a saepe necessitatibus hic.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam saepe consectetur consequatur mollitia fugiat at optio iure possimus libero. Dolores animi, labore natus, porro magni sed repudiandae rerum excepturi praesentium numquam laborum ipsam? Nihil et numquam rem. Architecto eaque placeat voluptatum nisi sit, praesentium, ipsam sunt a saepe necessitatibus hic.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam saepe consectetur consequatur mollitia fugiat at optio iure possimus libero. Dolores animi, labore natus, porro magni sed repudiandae rerum excepturi praesentium numquam laborum ipsam? Nihil et numquam rem. Architecto eaque placeat voluptatum nisi sit, praesentium, ipsam sunt a saepe necessitatibus hic.</p>
        </div>
    </section>
    <section class="full cover" id="product">
        <div class="card productList" id="productList">
            <div class="card item">
                <img src="assets/img/product.jpeg" alt="">
                <h3 class="heading">Your Product</h3>
                <h5 class="heading">$ 100.00</h5>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dolorum dolore at ex ad doloremque ab velit voluptatibus illum iusto.</p>
                <button class="linkButton hover-spin-x">Check Product</button>
            </div>
        </div>
    </section>

    <footer>
        &copy; 2025 Your Name || Your Company
    </footer>

    <script src="js/data.js"></script>
    <script src="js/load.js"></script>
</body>
</html>