/* Root Variable */

:root {
    /* Color and Background */
    --background1: #ffffff;
    --background2: #90adff;
    --primary1: #0080f0;
    --primary2: #0525d5;
    --primary3: #2040d0;
    --primary4: #d05030;
    --color1: #ffffff;
    --color2: #000000;
    --color3: #002080;
    --border: #adadff;
    --invisible1: #00208080;

    /* Font */
    --font1: arial;
    --font2: cursive;
}


/* Boot Code */

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background1);
    font-family: var(--font1);
}

body::-webkit-scrollbar {
    display: none;
}

header {
    padding: 10px;
    background: var(--primary1);
    color: var(--color1);
    text-align: center;
    border-bottom: solid 2px var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header h2 {
    font-size: 20pt;
    margin: 6px 0;
}

header span {
    font-size: 10pt;
    font-family: var(--font2);
}

.full {
    width: 100vw;
    height: 100vh;
}

.cover {
    color: var(--color1);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: var(--primary2);
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description-container {
    background: var(--primary3);
    color: var(--color1);
}

.card {
    background: var(--background1);
    border: none;
    padding: 12px;
    border-radius: 6px;
    box-shadow: 12px 12px 6px 0 var(--invisible1);
    color: var(--color2);
}

.circle {
    border-radius: 50%;
}

.title {
    color: var(--color1);
    font-family: var(--font2);
}

.heading {
    color: var(--color2);
    font-family: var(--font1);
    text-align: center;
}

.linkButton {
    background: var(--primary1);
    border: none;
    border-radius: 6px;
    color: var(--color1);
    transition: 0.3s;
    padding: 12px;
    width: 100%;
}

.linkButton:hover {
    background: var(--background2);
    color: var(--color3);
    cursor: pointer;
}

.hover-spin-x, 
.hover-spin-y, 
.hover-spin-z 
{
    transition: 1s;
}

.hover-spin-x:hover {
    rotate: 360deg x;
}

.hover-spin-y:hover {
    rotate: 360deg y;
}

.hover-spin-z:hover {
    rotate: 360deg;
}


/* Main CSS */
#profile .profile-box {
    width: 90%;
}

#profile .profile-box table {
    width: 100%;
    height: auto;
}

#profile .profile-box table td {
    padding: 5px;
    font-size: 10pt;
}

#product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--primary2);
}

#product h1 {
    margin: 12px 0;
    text-align: center;
}

.list {
    display: flex;
    justify-content: center;
    flex-wrap:  wrap;
    gap: 15px;
    width: 100%;
    height: 100%;
    overflow: scroll;
    padding: 25px 0;
}

.list::-webkit-scrollbar {
    display: none;
}

#product .item-container {
    width: 30%;
    flex: 0 0 calc(30% - 15px);
    height: auto;
}

#product .item-container img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

#product .item-container p {
    text-align: justify;
    text-indent: 25px;
    font-size: 10pt;
    margin: 12px 0;
}

.navbarMenu {
    padding: 12px;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.navbarMenu a {
    width: 100%;
    text-align: center;
    padding: 6px 0;
    text-decoration: none;
}

footer {
    padding: 12px;
    text-align: center;
    font-size: 16pt;
    border-top: solid 1px var(--border);
    background: var(--primary1);
    color: var(--color1);
}