body, html{
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#desktop {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url("../../drive/C/system/desktop/wallpaper.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#taskbar {
    position: fixed;
    bottom: 0%;
    left: 0%;
    right: 0%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 1px #adadad;
    background: #353535;
    z-index: 999999;
    padding: 6px;
}

#taskbar button{
    background: none;
    border: none;
    border-radius: 6px;
    transition: 0.3s;
    margin: 0 6px;
    padding: 6px;
}

#taskbar button img {
    max-width: 25px;
    max-height: 25px;
    min-height: 20px;
    min-width: 20px;
}

#taskbar button:hover{
    background: #555;
    border: solid 1px #fff;
}

.clock-box{
    position: fixed;
    top: 25px;
    right: 50px;
    margin: 0;
    text-align: center;
}

.clock {
    margin: 0;
    font-family: cursive;
    font-size: 45px;
    color: #fff;
}

.date {
    margin: 0;
    font-family: cursive;
    font-size: 14px;
    color: #fff;
}

.bottom-right-box{
    position: fixed;
    bottom: 50px;
    right: 50px;
    margin: 0;
    text-align: center;
}

.bottom-right-box img{
    width: 100px;
}

.context-menu {
    width: 100px;
    padding: 6px;
    position: absolute;
    background: #254585;
    border-radius: 6px;
    border: solid 1px #adadad;
    display: block;
    transition: 0.3s;
}
.context-menu button {
    padding: 3px;
    width: 100px;
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;
    margin: 3px 0;
    transition: 0.3s;
}
.context-menu button:hover {
    background: #4565a6;
}
.context-menu.hide {
    scale: 0;
}

.app-sidebar {
    background: #4545ff60;
    position: fixed;
    width: 25vw;
    border: solid 1px #adadad;
    border-radius: 6px;
    padding: 12px;
    height: 80vh;
    left: 25px;
    top: 25px;
    transition: 0.3s;
}

.app-sidebar .hide-app-sidebar-button{
    padding: 6px;
    width: 100%;
    border: solid 3px #0000;
    border-radius: 5px;
    background: none;
    color: #fff;
    font-size: 15px;
    font-family: monospace;
    transition: 0.3s;
}

.app-sidebar .hide-app-sidebar-button:hover{
    background: #a52525;
    border: solid 3px #ff4545;
}

.app-sidebar.hide{
    left: -100%;
}

.open-app-sidebar-button{
    background: #25258520;
    border: solid 3px #4545ff20;
    padding: 6px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    font-size: 25px;
    font-family: monospace;
    transition: 0.3s;
    top: 50vh;
    left: 50px;
    position: fixed;
}

.open-app-sidebar-button:hover{
    background: #252585;
    border: solid 3px #4545ff;
}

#app-sidebar-box{
    overflow-y: scroll;
    height: 80%;
    border: solid 1px #adadad;
    border-radius: 6px;
    margin: 6px 0;
}

#app-sidebar-box::-webkit-scrollbar {
    width: 12px;
    background: none;
    margin: 3px;
}

#app-sidebar-box::-webkit-scrollbar-thumb {
    background: #4545ff;
    border-radius: 6px;
    height: 50px;
}

#app-sidebar-box button{
    background: none;
    border: none;
    border-radius: 6px;
    transition: 0.3s;
    margin: 12px;
    padding: 6px;
}

#app-sidebar-box button img {
    width: 45px;
    height: 45px;
}

#app-sidebar-box button:hover{
    background: #4545fd;
}

.start-sidebar {
    background: #4545aa60;
    position: fixed;
    width: 25vw;
    border: solid 1px #adadad;
    border-radius: 6px;
    padding: 12px;
    height: 80vh;
    left: 25px;
    top: 25px;
    transition: 0.3s;
}

.start-sidebar .hide-start-sidebar-button{
    padding: 6px;
    width: 100%;
    border: solid 3px #0000;
    border-radius: 5px;
    background: none;
    color: #fff;
    font-size: 15px;
    font-family: monospace;
    transition: 0.3s;
}

.start-sidebar .hide-start-sidebar-button:hover{
    background: #a52525;
    border: solid 3px #ff4545;
}

.start-sidebar.hide{
    left: -100%;
}

.open-start-sidebar-button{
    background: #d5252520;
    border: solid 3px #ff454520;
    padding: 6px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    font-size: 25px;
    font-family: monospace;
    transition: 0.3s;
    bottom: 75px;
    left: 50px;
    position: fixed;
}

.open-start-sidebar-button:hover{
    background: #d52525;
    border: solid 3px #ff4545;
}

#search-box{
    width: 100%;
    height: 80%;
    background: #4545ff80;
    border: solid 1px #adadad;
    margin: 10px 0;
}

.power-box{
    width: 100%;
    height: 10%;
    margin: 10px 0;
    background: #4565ff80;
    border: solid 1px #adadad;
    display: flex;
    align-items: center;
    justify-content: center;
}

.power-box button {
    width: 100%;
    height: 80%;
    margin: 10px 10px;
    border-radius: 2px;
    border: solid 1px #adadad;
    color: #fff;
    border-radius: 3px;
    background: #252580;
    transition: 0.3s;
}

.power-box button:hover {
    background: #4545ff;
}

.path-container{
    background: #4545ff;
    border-radius: 12px;
    position: fixed;
    top: 50px;
    left: 35vw;
    right: 35vw;
    padding: 10px;
}

.path-container form {
    display: flex;
    width: 100%;
}

.path-container input{
    background: #ddddff;
    /* border: solid 1px #adadad; */
    border: none;
    padding: 6px 12px;
    border-radius: 0;
    width: 100%;
    color: #000;
    outline: none;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

.path-container button {
    background: #7575ff;
    /* border: solid 1px #adadad; */
    border: none;
    padding: 6px 0;
    border-radius: 0;
    width: 20%;
    color: #fff;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    transition: 0.3s;
}

.path-container button:hover {
    background: #252585;
}